.container {
    border: 1px solid #728C16;
    margin-top: 1.5em;
}
body {
	background-color: #FFFFF;
   background-image: url("../images/apresentacao.jpg");
	background-position: right bottom;
	
}
#conteudo {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 20%;
	margin-right: 20%;
    min-width: 60%;
    min-height: 95%;
    position: absolute;
    background-color: #FFFFFF;
/*     background-image: url("../images/iRHobaixo.png"); */
/*     background-position: bottom; */
/*     background-repeat: no-repeat; */
/*     background-position: right; */
}

#corpo {
	margin-top: 25px;
	padding-top: 15px;
	border-top-style: solid;
	border-top-width: 1px;
	position: static;
	clear: both;
	
}

#msgErro {
	padding-top: 10px;
	font-size: 8pt;
	color: red;
	text-align: center;
	width: 100%;
}

#msgAviso {
	padding-top: 10px;
	font-size: 8pt;
	color: blue;
	text-align: center;
	width: 100%;
}

#footer {
/* 	vertical-align: bottom; */
	position: absolute;
	bottom: 0;
/* 	clear: both; */
/* 	padding: 10px; */
	margin-top: 10px;
	padding-bottom: 2%;
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;
}

#homeContent fieldset legend {
	text-align: justify;
}

#homeContent fieldset {
	text-align: center;
/* 	margin: 5%; */
	margin-left: 4%;
	width: 25%;
	float: left;
}

.campo {
	clear: both;
	padding-top: 15px;
}

.legendaCampo {
	font-weight: normal;
	font-size: 7pt;
	text-align: center;
	position: absolute;
	width:100%;
}

.campo label {
	font-size: 12pt;
	text-align: right;
	position: absolute;
	right: 57%;
}

.campo input, .campo div, .campo select, .campo button {
	text-align: left;
	left: 45%;
	position: absolute;
	margin-top: -1px;
}

/* .campo a { */
/* 	font-size: 7pt; */
/* 	float: left; */
/* 	position: absolute; */
/* 	padding-top: 10px; */
/* 	left: 45% */
/* } */
.campo textarea {
	text-align: left;
	left: 45%;
	margin-top: -2px;
	position: absolute;
	height: 50px;
	width: 200px;
}
.botoes {
	padding-top: 15px;
	width: 100%;
	text-align: center;
	
}

#titulo {
	text-align: center;
	font-size: 14pt;
	padding-bottom: 10px;
	text-transform: uppercase;
}

#valorFiltro {
	width: 200px;
}

#childWindow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-style: solid;
	background: #ccc;
	color: #000066;
	opacity: 0.5;
	display: none;
}

#popUp {
	margin-left: 39%;
	border-color: black;
	overflow: auto;
	
	opacity: none;
	top: 30%;
	position: absolute;
	display: none;
	text-align: center;
 	width: 25%;

	border-style: solid;
	border-radius: 10px;
	border-width: 1 pt;
 	background: #FFFFFF;
 	
 	max-height: 400px;
}

#popUp #titulo {
	color: white;
 	background: #333333;
 	cursor: default;
 	vertical-align: middle;
/* 	border-style: solid; */
/* 	border-width: 0.5pt; */
}

#popUp th td {
	text-align: center;
}

#popUp tr {
	text-align: center;
	color: #0000FF;
	cursor: pointer;
	border-style: solid;
	text-decoration: none;
}

#popUp tr th {
	font-style: normal;
	text-decoration: none;
}

#popUp tr:hover {
	font-style: italic;
	text-decoration: overline;
}

#popUp tr a {
	text-decoration: none;
}

#popUpClose {
	text-align: right;
	max-heigth: 40%;
	right: 0;
	position: absolute;
	display: none;
}

.itemResult {
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
	border-style: solid;
	height: 15px;
}

.itemResult div {
	float: left;
	width: 33.3%;
	background-color: white;
	cursor: pointer;
}

.itemResult:hover {
	background-color: #69f;
}

#conteudoLogin {
	margin-top: 15%;
	margin-bottom: 15%;
	margin-left: 20%;
	margin-right: 20%;
    min-width: 60%;
    min-height: 45%;
    position: absolute;
   	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 5px;
}

#conteudoLogin div {
	float: left;
	max-width: 50%
}

#recaptcha_widget_div {
	text-align: center;
	margin-left: 20%;
}

.input_view {
	border-style: none;
	border-width: 0;
	width: auto;
}